html, body, div#root {
  width: 100%;
  height: 100%;
}

body{
  margin: 0 auto;
}

/*
FONTS
 */
@font-face {
font-family: FuturaPTBook;
src: url('/assets/fonts/FuturaPT-Book.woff');
}
@font-face {
font-family: Raleway;
src: url('/assets/fonts/Raleway.woff2');
}
@font-face {
font-family: RalewayBold;
src: url('/assets/fonts/Raleway-Bold.woff2');
}
@font-face {
font-family: RalewayLight;
src: url('/assets/fonts/Raleway-Light.woff2');
}
@font-face {
font-family: RalewayMedium;
src: url('/assets/fonts/Raleway-Medium.woff2');
}
@font-face {
font-family: RalewaySemiBold;
src: url('/assets/fonts/Raleway-SemiBold.woff2');
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

.sidebar{
  position: absolute;
  float: left;
  width: 33.33%;
  height: 100%;
  background: #FFFFFF;
  overflow: hidden;
}

.sidebar > .particles-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

canvas.particles {
}

.sidebar-control {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  background: #FFFFEE;
}

.profile {
  position: relative;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.profile-text{
  display: table;
  font-family: RalewayLight;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  -webkit-transition: top linear 400ms;
  -moz-transition: top linear 400ms;
  -o-transition: top linear 400ms;
  transition: top linear 400ms;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.slideup-profile-text {
  top: 100px;
}

.profile-text > .title {
  font-size: 36px;
}


.profile-text > .subtitle {
  font-size: 18px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 15px;
  font-family: RalewaySemiBold;
  text-transform: uppercase;
}

.subtitle > span{
  padding-bottom: 5px;
  border-bottom: 2px solid #FFD800;
}

.menu {
  width: 100%;
  display: table;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  position: absolute;
  top: 250px; left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  -moz-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  -o-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

}

.show-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0%);
}

ul.menu-main {
  box-sizing: content-box;
  list-style: none;
  padding: 0px 0px 0px 20px;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul.menu-main > li{
  cursor: pointer;
  font-family: RalewaySemiBold;
  width: auto;
  clear: both;
  position: relative;
  float: left;
  text-transform: capitalize;
  font-size: 32px;
}


ul.menu-main > li > a::before {
  display: inline-block;
  position: absolute;
  left: 0px;
  padding: 1px;
  line-height: 1;
  width: 0%;
  height: 100%;
  content: '';
  z-index: -1;
  transition: width 300ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

}


ul.menu-main > li:nth-child(1) > a::before {
  background: #E70000;
}

ul.menu-main > li:nth-child(2) > a::before {
  background: #FF8C00;
}

ul.menu-main > li:nth-child(3) > a::before {
  background: #007EBE;
}


ul.menu-main > li:nth-child(4) > a::before {
  background: #00811F;
}

ul.menu-main > li:nth-child(5) > a::before {
  background: #2875BA;
}

ul.menu-main > li:nth-child(6) > a::before {
  background: #760089;
}

ul.menu-main > li > a {
  width: auto !important;
  height: 100%;
  margin-left: 4px;
  padding: 0px 5px;
  color: inherit;
  -webkit-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -moz-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  transition: background 100ms linear, color 100ms linear, margin 100ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

ul.menu-main > li:hover a{
  color: #FFFFFF;
}

ul.menu-main > li:hover a::before{
  width: 100%;
}

ul.sub-menu {
  width: auto;
  height: 0px;
  position: relative;
  left: 0px;
  top: 0px;
  margin-left: 15px;
  padding: 0px;
  overflow: hidden;
  font-family: RalewayMedium;
  font-size: 14px;
  list-style: none;
  color: #FFFFFF;
  margin: 10px 10px 10px 10px;
  -webkit-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  -moz-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  -o-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  transition: height 400ms linear 100ms, transform 400ms linear 100ms;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

ul.sub-menu > li {
  overflow: hidden;
  padding: 0px 5px;
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  width: auto !important;
  text-overflow: ellipsis;
}


ul.sub-menu > li:hover {
  background: #FFFFFF;
  color: #000000;
}


ul.menu-main > li:nth-child(3):hover ul.sub-menu {
  height: 182px;
  transform: translateY(5px);
}


ul.menu-main > li:nth-child(4):hover ul.sub-menu {
  height: 78px;
  transform: translateY(5px);
}


.social-links {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility linear 300ms, opacity linear 300ms;
  -moz-transition: visibility linear 300ms, opacity linear 300ms;
  -o-transition: visibility linear 300ms, opacity linear 300ms;
  transition: visibility linear 300ms, opacity linear 300ms;
}

.show-social-links {
  visibility: visible;
  opacity: 1;
}

.hide-social-links {

}

.notices, .notices > p {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  font-family: RalewayMedium;
  padding: 0px;
}

.notices > p > img {
  margin-bottom: -5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 20px; height: 20px;
}

.social-links > ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}

.social-links > ul > li {
  display: inline;
  cursor: pointer;
  margin: 0px 10px;
}

.social-links > ul > li > img {
  width: 25px;
  height: 25px;
}

.content {
  padding: 0px;
  margin: 0px;
  float: right;
  width: 66.67%;
  height: 100%;
  overflow-y: scroll;
}

.page-1, .page-2, .page-3, .page-4 {
  position: relative;
  width: 100%; height: 100%;
  background-color: #000000;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.page-1 {
  background-image: url('/assets/page-1.2.png');
}

.page-2 {
  background-image: url('/assets/page-2.2.png');
}

.page-3 {
  background-image: url('/assets/page-3.2.png');
}

.page-4 {
  background-image: url('/assets/page-4.2.png');
}

.page-1-overlay, .page-2-overlay, .page-3-overlay, .page-4-overlay {
  position: absolute;
  left: 0px; top: 0px;
  width: 100%; height: 100%;
  background-size:contain;
  background-position: center;

  background-color: #000000;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;

  -webkit-transition: visibility linear 1000s, opacity linear 1000ms;
  -moz-transition: visibility linear 1000s, opacity linear 1000ms;
  -o-transition: visibility linear 1000s, opacity linear 1000ms;
  transition: visibility linear 1000s, opacity linear 1000ms;
}

.page-1-overlay {
  background-image: url('/assets/page-1.1.png');
}

.page-2-overlay {
  background-image: url('/assets/page-2.1.png');
}

.page-3-overlay {
  background-image: url('/assets/page-3.1.png');
}

.page-4-overlay {
  background-image: url('/assets/page-4.1.png');
}

.hide-page-1-overlay, .hide-page-2-overlay, .hide-page-3-overlay, .hide-page-4-overlay {
  visibility: hidden;
  opacity: 0;
}

.page-content {
  position: relative;
  width: 100%; height: 100%;
  max-width: 1080px;
}

.page-content-inner {
  padding: 50px 50px 100px 100px;
  width: 100%; height: auto;
  max-width: 1060px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  box-sizing: border-box;
}

.page-title {
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  -moz-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  -o-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
}

.show-page-title {
  opacity: 1;
  visibility: visible;
}

.page-title > p {
  text-align: right !important;
  padding-bottom: 20px;
  margin: 0px;
  font-size: 46px;
  font-family: RalewayBold;
  color: #FFFFFF;
  letter-spacing: 1px;
  direction: rtl;
}

.page-seperator {
  height: 1px; width: 100%;
  background: #FFFFFF;
  direction: rtl;
  float: right;
  width: 80%;
  opacity: 0;
  -webkit-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  -moz-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  -o-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;

}

.show-page-seperator {
  width: 100%;
  opacity: 1;
}

.page-descp {
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  -moz-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  -o-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
}

.show-page-descp {
  visibility: visible;
  opacity: 1;
}

.page-descp > p {
  font-size: 20px;
  color: #FFFFFF;
  font-family: FuturaPTBook;
  text-align: justify;

}

a, a:visited, a:active {
  text-decoration: none !important;
}

a.facebook {
  background: #3b5998;
  color: #FFFFFF;

}

/*scrollbar style*/
/* TODO: Use an external javascript based scrollbar instead */
::-webkit-scrollbar-track
{
	border-radius: 0px !important;
	background-color: #000000 !important;
}

::-webkit-scrollbar
{
	cursor: pointer !important;
	width: 6px !important;
	background-color: #000000 !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px !important;
	background-color: #dcdcdc!important;
}
