html, body, div#root {
  width: 100%;
  height: 100%;
}

body{
  position: absolute;
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

div#root {
  position: absolute;
  top: 0px; left: 0px;
}

#root > div:first-child {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}
/*
FONTS
 */
@font-face {
font-family: FuturaLTBold;
src: url('/assets/fonts/futuralt-bold.woff2');
}

@font-face {
font-family: FuturaPTBook;
src: url('/assets/fonts/FuturaPT-Book.woff');
}
@font-face {
font-family: Raleway;
src: url('/assets/fonts/Raleway.woff2');
}
@font-face {
font-family: RalewayBold;
src: url('/assets/fonts/Raleway-Bold.woff2');
}
@font-face {
font-family: RalewayLight;
src: url('/assets/fonts/Raleway-Light.woff2');
}
@font-face {
font-family: RalewayMedium;
src: url('/assets/fonts/Raleway-Medium.woff2');
}
@font-face {
font-family: RalewaySemiBold;
src: url('/assets/fonts/Raleway-SemiBold.woff2');
}
@font-face {
font-family: TrumpGothicWest-Bold;
src: url('/assets/fonts/TrumpGothicWest-Bold.woff2');
}
@font-face {
font-family: Theinhardt-Md;
src: url('/assets/fonts/Theinhardt-Md.woff2');
}
@font-face {
  font-family: SpaceMono-Regular;
  src: url('/assets/fonts/SpaceMono-Regular.ttf');
}
@font-face {
  font-family: SpaceMono-Bold;
  src: url('/assets/fonts/SpaceMono-Bold.ttf');
}
.content-wrapper {
  width: 100%;
  height: 100%;
}

.sidebar{
  position: absolute;
  float: left;
  width: 33.33%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

.sidebar > .particles-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

canvas.particles {
}

.sidebar-control {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  background: #FFFFEE;
}

.profile {
  position: relative;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.profile-text{
  display: table;
  position: absolute;
  top: 50%; left: 20px;
  transform: translate(0%, -50%);
  -webkit-transition: top linear 400ms;
  -moz-transition: top linear 400ms;
  -o-transition: top linear 400ms;
  transition: top linear 400ms;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.slideup-profile-text {
  top: 100px;
}
/* LIGHT*/

.profile-text > .title {
  font-size: 52px;
  font-family: RalewayBold;
  color: #000000;

}
/* DARK */
.profile-text > .title {
  font-size: 52px;
  font-family: RalewayBold;
  color: #FFFFFF;
}
/* LIGHT */
span.title-hi {
  display: block;
  font-size: 18px;
  clear: both;
  width: 100%;
  height: auto;
  color: #999999;
  font-family: RalewaySemiBold;
}

/*DARK*/

span.title-hi {
  display: block;
  font-size: 18px;
  clear: both;
  width: 100%;
  height: auto;
  color: #DDDDDD;
  font-family: RalewaySemiBold;
}
.profile-text > .subtitle {
  font-size: 18px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 15px;
  font-family: RalewaySemiBold;
  text-transform: uppercase;
}

.subtitle > span{
  padding-bottom: 5px;
  border-bottom: 2px solid #FFD800;
}

.menu {
  width: 100%;
  display: table;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  position: absolute;
  top: 250px; left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  -moz-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  -o-transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;
  transition: opacity 400ms linear, visibility 400ms linear, transform 400ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

}

.show-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0%);
}

ul.menu-main {
  box-sizing: content-box;
  list-style: none;
  padding: 0px 0px 0px 20px;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul.menu-main > li{
  cursor: pointer;
  font-family: RalewaySemiBold;
  width: auto;
  clear: both;
  position: relative;
  float: left;
  text-transform: capitalize;
  font-size: 32px;
}


ul.menu-main > li > a::before {
  display: inline-block;
  position: absolute;
  left: 0px;
  padding: 1px;
  line-height: 1;
  width: 0%;
  height: 100%;
  content: '';
  z-index: -1;
  transition: width 300ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

}


ul.menu-main > li:nth-child(1) > a::before {
  background: #E70000;
}

ul.menu-main > li:nth-child(2) > a::before {
  background: #FF8C00;
}

ul.menu-main > li:nth-child(3) > a::before {
  background: #007EBE;
}


ul.menu-main > li:nth-child(4) > a::before {
  background: #00811F;
}

ul.menu-main > li:nth-child(5) > a::before {
  background: #2875BA;
}

ul.menu-main > li:nth-child(6) > a::before {
  background: #760089;
}
/*LIGHT*/
ul.menu-main > li > a {
  width: auto !important;
  height: 100%;
  margin-left: 4px;
  padding: 0px 5px;
  color: #000000;
  -webkit-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -moz-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  transition: background 100ms linear, color 100ms linear, margin 100ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/*DARK*/

ul.menu-main > li > a {
  width: auto !important;
  height: 100%;
  margin-left: 4px;
  padding: 0px 5px;
  color: #FFFFFF;
  -webkit-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -moz-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear, margin 100ms linear;
  transition: background 100ms linear, color 100ms linear, margin 100ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


ul.menu-main > li:hover a{
  color: #FFFFFF;
}


ul.menu-main > li:hover a::before{
  width: 100%;
}

ul.sub-menu {
  width: auto;
  height: 0px;
  position: relative;
  left: 0px;
  top: 0px;
  margin-left: 15px;
  padding: 0px;
  overflow: hidden;
  font-family: RalewayMedium;
  font-size: 14px;
  list-style: none;
  color: #FFFFFF;
  margin: 10px 10px 10px 10px;
  -webkit-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  -moz-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  -o-transition: height 400ms linear 100ms, transform 400ms linear 100ms;
  transition: height 400ms linear 100ms, transform 400ms linear 100ms;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

ul.sub-menu > li {
  overflow: hidden;
  padding: 0px 5px;
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  width: auto !important;
  text-overflow: ellipsis;
}


ul.sub-menu > li:hover {
  background: #FFFFFF;
  color: #000000;
}


ul.menu-main > li:nth-child(3):hover ul.sub-menu {
  height: 182px;
  transform: translateY(5px);
}


ul.menu-main > li:nth-child(4):hover ul.sub-menu {
  height: 78px;
  transform: translateY(5px);
}


.social-links {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility linear 300ms, opacity linear 300ms;
  -moz-transition: visibility linear 300ms, opacity linear 300ms;
  -o-transition: visibility linear 300ms, opacity linear 300ms;
  transition: visibility linear 300ms, opacity linear 300ms;
}

.show-social-links {
  visibility: visible;
  opacity: 1;
}

.hide-social-links {

}
/*LIGHT*/
.notices, .notices > p {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  font-family: RalewayMedium;
  color: #000000;
  padding: 0px;
}
/*DARK*/
.notices, .notices > p {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  font-family: RalewayMedium;
  color: #FFFFFF;
  padding: 0px;
}



.notices > p > img {
  margin-bottom: -5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 20px; height: 20px;
}

.social-links > ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}

.social-links > ul > li {
  display: inline;
  cursor: pointer;
  margin: 0px 10px;
}
/*LIGHT*/
.social-links > ul > li > img {
  width: 25px;
  height: 25px;

}
/*DARK*/

.social-links > ul > li > img {
  width: 25px;
  height: 25px;

  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.content {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 20px;
  overflow-x: hidden;
  font-family: Theinhardt-Md;
}
/*LIGHT*/
.page-1, .page-2, .page-3, .page-4, .page-5 {
  position: relative;
  width: 100%; min-height: 100%;
  max-height: auto;
  color: #000000;
  background-color: transparent;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right top;
}
/*DARK*/
.page-1, .page-2, .page-3, .page-4, .page-5 {
  position: relative;
  width: 100%; min-height: 100%;
  max-height: auto;
  color: #FFFFFF;
  background-color: transparent;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right top;
}
/*
.page-1 {
  background-image: url('/assets/page-1.2.png');
}

.page-2 {
  background-image: url('/assets/page-2.2.png');
}

.page-3 {
  background-image: url('/assets/page-3.2.png');
}

.page-4 {
  background-image: url('/assets/page-4.2.png');
}

.page-5 {
  background-image: url('/assets/page-5.2.png');
}
*/
.page-1-overlay, .page-2-overlay, .page-3-overlay, .page-4-overlay, .page-5-overlay {
  position: absolute;
  left: 0px; top: 0px;
  width: 100%; height: 100%;
  background-size:contain;
  background-position: right top;

  background-color: #FFFFFF;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;

  -webkit-transition: visibility linear 1000s, opacity linear 1000ms;
  -moz-transition: visibility linear 1000s, opacity linear 1000ms;
  -o-transition: visibility linear 1000s, opacity linear 1000ms;
  transition: visibility linear 1000s, opacity linear 1000ms;
}
/*
.page-1-overlay {
  background-image: url('/assets/page-1.1.png');
}

.page-2-overlay {
  background-image: url('/assets/page-2.1.png');
}

.page-3-overlay {
  background-image: url('/assets/page-3.1.png');
}

.page-4-overlay {
  background-image: url('/assets/page-4.1.png');
}

.page-5-overlay {
  background-image: url('/assets/page-5.1.png');
}
*/

.hide-page-1-overlay, .hide-page-2-overlay, .hide-page-3-overlay, .hide-page-4-overlay, .hide-page-5-overlay {
  visibility: hidden;
  opacity: 0;
}

.page-content {
  float: right;
  width: 66.67%; height: auto;
  max-width: 1080px;
}

.page-content-inner {
  width: 100%; height: auto;
}

.page-title {
  visibility: hidden;
  opacity: 0;
  margin: 0px;
  width: 100%;
  height: auto;
  float: right;

  -webkit-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  -moz-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  -o-transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
  transition: visibility 400ms linear 500ms, opacity 400ms linear 500ms;
}

.show-page-title {
  opacity: 1;
  visibility: visible;
}


.page-title > p {
  float: right;
  position: relative;
  font-size: 132px;
  font-family: TrumpGothicWest-Bold;

  color: #DDDDDD;
  text-align: right;
  width: auto;
  margin: 0px;

  padding: 0px;


  -webkit-transition: transform 300ms linear;
  -moz-transition: transform 300ms linear;
  -o-transition: transform 300ms linear;
  transition: transform 300ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.page-title > p::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 5px solid #CCCCCC;
  width: 100%;
}

.page-title > p::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 5px solid #000000;
  padding-bottom: 0px;
  width: 0px;

  -webkit-transition: transform 300ms linear,  width 300ms linear;
  -moz-transition: transform 300ms linear,  width 300ms linear;
  -o-transition: transform 300ms linear,  width 300ms linear;
  transition: transform 300ms linear,  width 300ms linear;

  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.page-title:hover p::after {
  transform: translateX(0%);
  width: 100%;
}

.page-title:hover p {
  color: #000000;
}

.page-seperator {
  height: 1px; width: 100%;
  background: #FFFFFF;
  direction: rtl;
  clear: both;
  float: right;
  width: 100%;
  opacity: 0;
  -webkit-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  -moz-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  -o-transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;
  transition: width 400ms linear 1000ms, opacity 400ms linear 1000ms;

}

.show-page-seperator {
  width: 100%;
  opacity: 1;
}

.page-descp {
  visibility: hidden;
  height: auto;
  opacity: 0;
  padding-top: 50px;
  width: 100%;
  position: relative;
  display: table;
  -webkit-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  -moz-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  -o-transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
  transition: visibility 400ms linear 1500ms, opacity 400ms linear 1500ms;
}

.page-1 > .page-content > .page-content-inner > .page-descp {

  padding-top: 0px;
}
.show-page-descp {
  visibility: visible;
  opacity: 1;
}

.page-items-container {
  position: relative;
  height: auto;
}



.row {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  background: #000000;
}


.col-30 {
  position: relative;
  float: left;
  box-sizing:border-box;
  width: 33.33%;
  min-height: 300px;
  height: auto;
  background: transparent;
}

.col-30:first-child {
  padding: 0px 5px 0px 0px;
}

.col-30:last-child {
  padding: 0px 0px 0px 5px;
}

.col-30 > span:first-child {
  width: 80%;
}

.project-hint {
  text-align: justify;
  display: inline-block;
  width: 80%;
}
/*LIGHT*/
.project-short-descp {
  color: #666666;
  width: 80%;
  display: inline-block;
  text-align: justify;

}
/*DARK*/
.project-short-descp {
  color: #BBBBBB;
  width: 80%;
  display: inline-block;
  text-align: justify;

}
.learn-more {
  vertical-align: middle;
  font-family: RalewayMedium;
}
/*LIGHT*/
.learn-more > span {
  border-bottom: 1px solid #000000;
}
/*DARK*/

.learn-more > span {
  border-bottom: 1px solid #FFFFFF;
}
svg {
  vertical-align: middle;
  margin-left: 10px;
}

iframe {
  display: block;
  margin: 10px auto;
}

span.h6 {
  margin-bottom: 4px;
  display: block;
  padding: 0px;
  font-family: SpaceMono-Regular;
  font-size: 14px;
}

span.h1 {
  display: block;
  font-family: TrumpGothicWest-Bold;
  font-size: 78px;
  padding: 0px;
  margin-bottom: 20px;
}

span.h4 {
  margin-bottom: 4px;
  font-family: SpaceMono-Bold;
  font-size: 24px;
  margin-top: 0px;
  padding: 0px;
  display: block;
}

.light {
  color: #AAAAAA;
}

.underline {
  border-bottom: 2px solid #000000;
}

.dark {
  background: #000000;
}

/* About section education and interests*/
/*LIGHT*/
.page-1 > .page-content >  .page-content-inner > .page-descp > p {
  font-size: 20px;
  color: #000000;
  font-family: Theinhardt-Md;
  width: 100%;
  text-align: left;
}
/*DARK*/
.page-1 > .page-content >  .page-content-inner > .page-descp > p {
  font-size: 20px;
  color: #FFFFFF;
  font-family: Theinhardt-Md;
  width: 100%;
  text-align: left;
}
.left{
  display: inline-block;
  width: 50%;
}

.right {
  display: inline-block;
  width: 50%;
}

.page-1 > .page-content > .page-content-inner {
  top: 50%;
  transform: translateY(50%);
}

.page-1 > .page-content > .page-content-inner > .page-descp > p {
  font-size: 40px;
}
/* About section education and interests ENDS*/

a, a:visited, a:active {
  text-decoration: none !important;
}

a.facebook {
  background: #3b5998;
  color: #FFFFFF;

}

/*scrollbar style*/
::-webkit-scrollbar-track
{
	border-radius: 0px !important;
	background-color: #000000 !important;
}

::-webkit-scrollbar
{
	cursor: pointer !important;
	width: 6px !important;
	background-color: #000000 !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px !important;
	background-color: #dcdcdc!important;
}
